# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/

artifacts/*
build/*
cache/*
migrations/*

node_modules/*
.env.sample
package-lock.json
.DS_Store